.login{
    position: relative;
    &__container{
        position: absolute;
        margin-top: 50px;
        left: 40%;
    }
      &__input{
        margin-top: 20px !important;
      }
      &__btn{
        width: 220px !important;
        height: 40px !important;
        margin-top: 20px !important;
      }
}